{{template "system/home/public.html"}}
<form name="thisForm" id="thisForm" method="post" onsubmit="javascript:return checkPwd();" action="" class="ZPmuTableClass">
        <tr>
            <td width="100" align="right">游戏分区:</td>
            <td width="400">
                <select name="server_id" size="1" id="server_id">
                {{range $key,$server := .server_list}}
                    <option value="{{$server.ID}}" {{if eq $key 0 }} selected {{end}}>
                    {{$server.ServerName}}
                    </option>
                {{end}}
                </select>
            </td>
        </tr>
        <tr>
            <td align="right">帐号:</td>
            <td>
                <input name="account" id="account" value="" maxlength="10"
                       type="text">
                帐号由半角英文、数字或下划线组成，长度为4~10位
            </td>
        </tr>
        <tr>
            <td align="right">旧密码:</td>
            <td>
                <input name="oldpass" type="password" id="oldpass" maxlength="10">
            </td>
        </tr>
        <tr>
            <td align="right">新密码:</td>
            <td>
                <input name="pass" type="password" id="pass" maxlength="10">
                密码由半角英文、数字或下划线组成，长度为6~10位。不能和帐号相同
            </td>
        </tr>
        <tr>
            <td align="right">重输新密码:</td>
            <td>
                <input name="pass2" type="password" id="pass2" maxlength="10">
            </td>
        </tr>
        <tr>
            <td align="right">验证码:</td>
            <td>
                <input name="CheckCode" type="text" id="CheckCode"
                       size="4" maxlength="4" height="20">&nbsp;<img id="yzmtu" name="yzmtu" src="/captcha"
                                                                     alt="验证码,看不清楚?请点击刷新验证码" style="cursor: pointer;" onclick="RefreshCheckCode('yzmtu')"/>&nbsp;<a
                    onclick="RefreshCheckCode('yzmtu')" style="cursor: pointer;">看不清楚?请点击刷新验证码</a>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="修改"/>
                <input type="reset" value="重置"/>
            </td>
        </tr>
</form>
