<ul class="nav nav-pills">
    <li class="active">
        <a href="/">首页</a>
    </li>
    <li>
        <a href="{{urlfor "HomeLoginController.Reg"}}">注册</a>
    </li>
    <li>
        <a href="{{urlfor "HomeLoginController.Login"}}">登录</a>
    </li>
    <li>
        <a href="{{urlfor "HomeNewsController.List"}}">公告</a>
    </li>
    <li>
        <a href="{{urlfor "HomeIndexController.DownLoad"}}">下载</a>
    </li>
    <li>
        <a href="{{urlfor "HomeIndexController.HeroFree"}}">角色排行</a>
    </li>
    <!--
    <li>
        <a href="{{urlfor "HomeIndexController.HeroBlood"}}">血色排行</a>
    </li>
    <li>
        <a href="{{urlfor "HomeIndexController.HeroSquare"}}">恶魔排行</a>
    </li>
    -->
    <li>
        <a href="{{urlfor "HomeIndexController.Buy"}}">赞助</a>
    </li>
    <li>
        <a href="{{.webConfig.web_pay}}" target="_blank">自助充值</a>
    </li>
</ul>